@import url(../fonts/symbolset/ss-pika.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
ul,
li,
img,
form,
table,
tr,
td,
ol,
p,
h1,
h2,
h3,
h4 {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ss-icon {
  position: relative;
  top: 2px;
}
.left {
  float: left;
}
.right {
  float: right;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 60%;
}
.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.rainbow {
  position: fixed;
  top: 0;
  left: 0;
  background: url(../images/rainbow-bg.png) repeat-x #ffffff top left;
  background-size: 50%;
  width: 100%;
  height: 6px;
  z-index: 1000;
}
.grid {
  margin: 0 0 50px 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid.pad {
  padding: 50px;
}
[class*='col-'] {
  float: left;
  padding-right: 50px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
[class*='col-'].centered {
  float: none;
  margin: 0 auto;
}
.grid-pad {
  padding: 50px 0 50px 50px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 50px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
.col-1-8 {
  width: 12.5%;
}
* {
  color: #8b8b8b;
  line-height: 1.5rem;
  font-family: 'Lato', helvetica, arial, sans-serif;
}
body {
  font-size: 100%;
}
h1,
h2,
h3,
h4 {
  color: #e16f53;
  font-weight: bold;
  padding: 0 0 50px 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #8b8b8b;
}
a:hover {
  color: #e16f53;
}
header {
  background-color: #f6f6f6;
  padding: 50px;
  height: 145px;
  overflow: hidden;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  display: block;
  padding: 0;
  margin: 0;
  width: 211px;
  height: 47px;
}
.logo a {
  display: block;
  width: 211px;
  height: 47px;
  background: url('../images/logo.png') no-repeat top left;
  background-size: 100%;
  overflow: hidden;
}
.logo a span {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}
form.search {
  font-family: 'Lato', helvetica, arial, sans-serif;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 30%;
  display: block;
  padding-left: 140px;
}
form.search label {
  display: block;
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: right;
  padding: 11px 25px 0 0;
}
form.search label .ss-icon {
  position: absolute;
  top: 15px;
  right: -32px;
}
form.search input {
  padding: 9px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.85rem;
  display: block;
  border: 2px solid #a3a3a3;
  padding-left: 40px;
}
form.search input:focus {
  border: 2px solid #8b8b8b;
}
.toc {
  display: block;
  position: relative;
  border-bottom: 2px solid #f6f6f6;
  background-color: #ffffff;
}
.toc h2 {
  cursor: pointer;
  position: relative;
  display: block;
  color: #8b8b8b;
  margin: 0;
  padding: 0;
  padding: 25px 50px 25px 50px;
  font-size: 1.25rem;
}
.toc h2 a.toggle {
  font-size: 0.85rem;
  display: block;
  position: absolute;
  top: 25px;
  right: 50px;
  font-weight: normal;
}
.toc h2 a.toggle span {
  padding-left: 5px;
}
.toc h2 a.toggle:hover {
  color: #e16f53;
}
.toc h2 a.toggle:hover span {
  color: #e16f53;
}
.toc.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.toc-items {
  background-color: #ffffff;
  display: block;
}
.toc-items:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.toc-items ul {
  width: 33%;
  float: left;
  padding: 0 0 50px 20px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.toc-items ul li {
  list-style-type: square;
}
.toc-items ul li a {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #e16f53;
}
.toc-items ul li a:hover,
.toc-items ul li a.active {
  color: #8b8b8b;
  font-weight: bold;
}
footer {
  display: block;
  background-color: #f6f6f6;
  padding: 50px;
}
button,
a.btn {
  border: 0;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  background-color: #e16f53;
  font-size: 0.9rem;
}
button:hover,
a.btn:hover {
  background-color: #8b8b8b;
}
button.btn-mini,
a.btn.btn-mini {
  padding: 7px 14px 7px 14px;
  font-size: 0.75rem;
  background-color: #8b8b8b;
}
button.btn-mini:hover,
a.btn.btn-mini:hover {
  background-color: #636363;
}
button.centered,
a.btn.centered {
  margin: 0 auto;
  display: block;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
}
.post {
  display: block;
  clear: both;
  padding: 100px 0 100px 0;
}
.post a.back {
  display: inline-block;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.post a.back:hover span {
  color: #e16f53;
}
.post h1 {
  color: #e16f53;
  font-size: 2rem;
  padding: 0 0 50px 0;
  margin: 0;
}
.post .post-content {
  display: block;
}
.post .post-content ul,
.post .post-content ol,
.post .post-content li,
.post .post-content blockquote,
.post .post-content p,
.post .post-content div {
  font-size: 1.2rem;
  line-height: 1.92rem;
}
.post .post-content p,
.post .post-content div {
  padding: 12.5px 0 12.5px 0;
}
.post .post-content p img,
.post .post-content div img {
  width: 100%;
}
.post .post-content blockquote {
  font-size: 1.4rem;
  font-weight: bold;
  border-left: 5px solid #f6f6f6;
  padding: 12.5px 50px 12.5px 50px;
  margin: 12.5px 0 12.5px 0;
}
.post .post-content ul {
  padding: 12.5px 0 12.5px 0;
  margin-left: 80px;
}
.post .post-content ul li {
  list-style-type: square;
}
.post .post-content ol {
  padding: 12.5px 0 12.5px 0;
  margin-left: 80px;
}
.post .post-content ol li {
  list-style-type: decimal;
}
.post .post-footer {
  display: block;
  clear: both;
  padding-top: 50px;
}
.post .post-footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.post .post-footer .post-author {
  width: 50%;
  float: left;
  text-align: left;
}
.post .post-footer .post-author a.post-author-avatar {
  display: block;
  float: left;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.post .post-footer .post-author a.post-author-avatar img {
  width: 55px;
  height: 55px;
}
.post .post-footer .post-author p {
  float: left;
  font-size: 0.85rem;
  line-height: auto;
  padding: 4px 0 0 20px;
  margin: 0;
}
.post .post-footer .post-author p span {
  font-weight: bold;
}
.post .post-footer .post-author p span.post-date {
  color: #bbbbbb;
  font-weight: normal;
}
.post .post-footer .post-author p span.post-author-name {
  font-size: 1rem;
}
.post .post-footer .post-options {
  width: 50%;
  float: right;
  text-align: right;
}
.post .post-footer .post-options li {
  float: right;
  padding-left: 10px;
}
.post .post-footer .post-options li a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 8px;
  width: 45px;
  height: 45px;
  text-align: center;
}
.post .post-footer .post-options li a:hover {
  border-color: #e16f53;
  background-color: #e16f53;
  color: #ffffff;
}
.post .post-footer .post-options li a:hover span {
  color: #ffffff;
}
.post .post-footer .post-options li span.options-label {
  display: inline-block;
  padding: 12.5px 10px 0 0;
  color: #bbbbbb;
  font-size: 0.85rem;
}
.post .post-video {
  padding: 25px 0 25px 0;
}
.post .post-video iframe {
  width: 100%;
  height: 500px;
  display: block;
  border: 0;
}
